@tailwind base;
@tailwind components;
@tailwind utilities;

div.dropdown a:hover.navbar__link {
  @apply bg-transparent !important;
}

a.navbar__link + a.navbar__link {
  @apply ml-2;
}

div.dropdown a:hover.navbar__link, a.dropdown__link:hover {
  @apply dark:bg-gray-600;
  @apply bg-blue-50;
  @apply rounded-md;
  @apply dark:text-white;
}

a.navbar__link.navbar__link--active {
  @apply dark:bg-gray-600;
  @apply bg-blue-50;
  @apply rounded-md;
  @apply dark:text-white;
}

a:hover.menu__link {
  @apply dark:bg-gray-600;
  @apply bg-blue-50;
  @apply rounded-md;
  @apply dark:text-white;
  color: #365eda;
}

.header-discord-link:hover {
  opacity: 0.6;
}

.header-discord-link:after {
  content: "";
  display: inline-block;
  height: 24px;
  width: 24px;
  background-color: currentColor;
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z'%3E%3C/path%3E%3C/svg%3E");
}

.header-discord-link {
  display: flex;
  padding: 0;
  margin: 0;
  opacity: 1;
}


.header-beamer-link:hover {
  opacity: 0.6;
}

.header-beamer-link:after {
  content: "";
  display: inline-block;
  height: 24px;
  width: 24px;
  background-color: currentColor;
  mask-image: url("data:image/svg+xml,%3Csvg%20fill%3D%22currentColor%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20aria-hidden%3D%22true%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5.25%209a6.75%206.75%200%200113.5%200v.75c0%202.123.8%204.057%202.118%205.52a.75.75%200%2001-.297%201.206c-1.544.57-3.16.99-4.831%201.243a3.75%203.75%200%2001-7.48%200%2024.585%2024.585%200%2001-4.831-1.244.75.75%200%2001-.298-1.205A8.217%208.217%200%20005.25%209.75V9zm4.502%208.9a2.25%202.25%200%20104.496%200%2025.057%2025.057%200%2001-4.496%200z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.header-beamer-link {
  display: flex;
  padding: 0;
  margin: 0;
  opacity: 1;
}

.beamer_icon.active {
  z-index: 20 !important;
  width: 13px !important;
  height:13px !important;
  line-height: 13px !important;
}

a.menu__link menu__link--active, a.menu__link--active:not(.menu__link--sublist) {
  @apply dark:bg-gray-600;
  @apply bg-blue-50;
  @apply rounded-md;
  @apply dark:text-white;
}

.hidden {
  display: none !important;
  }

/**
 * You can override the default Infima variables here.
 * Note: this is not a complete list of --ifm- variables.
 */
:root {
  --ifm-color-primary: #365eda;
  --ifm-color-primary-dark: #264fcf;
  --ifm-color-primary-darker: #244bc3;
  --ifm-color-primary-darkest: #1e3ea1;
  --ifm-color-primary-light: #4d70de;
  --ifm-color-primary-lighter: #587ae0;
  --ifm-color-primary-lightest: #7b95e7;
}

html[data-theme="light"] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

html[data-theme="dark"] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}

#kapa-widget-container button {
  left: 20px;
  z-index: 9999;
}
