name: Generate PlantUML Diagrams
on:
  pull_request:
    paths:
      - 'diagrams/**.puml'

permissions:
  contents: write
jobs:
  generate_plantuml:
    runs-on: ubuntu-latest
    name: Generate
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
      - name: Get changed UML files
        id: getfile
        run: |
          echo "::set-output name=files::$(git diff --name-only HEAD^ HEAD | grep .puml | xargs)"

      - name: Generate SVG Diagrams
        uses: holowinski/plantuml-github-action@035fd446eb4b4a074d4a32a9d6ead9b344132f1e
        with:
          args: -v -tsvg "diagrams/**.puml" -o "../static/diagrams"

      - name: Push Local Changes
        uses: stefanzweifel/git-auto-commit-action@v4.1.2
        with:
          commit_message: "Generate SVG files for PlantUML diagrams"