on:
  pull_request:

permissions:
  contents: read

jobs:
  license-check:
    name: License Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DevCycleHQ/license-action@main
        with:
          language: "javascript"
