name: Algolia DocSearch Scraper

on:
  push:
    branches:
      - 'main'

jobs:
  wait-for-vercel-deployment:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    env:
      VERCEL_DEPLOYMENT_URL: 'devcycle-docs.vercel.app'
    steps:
      - name: Set Secrets
        uses: DevCycleHQ/aws-secrets-action@main
        with:
          secrets_map: '{"ALGOLIA_APPLICATION_ID":"DEVCYCLE_GITHUB_devcycle-docs_ALGOLIA_APPLICATION_ID", "ALGOLIA_API_KEY":"DEVCYCLE_GITHUB_devcycle-docs_ALGOLIA_API_KEY"}'
          aws_account_id: '134377926370'
      - uses: actions/checkout@v4
      - run: echo "Waiting for Cloudflare deployment to complete" && sleep 120

      - name: Get the content of algolia.json as config
        id: algolia_config
        run: echo "::set-output name=config::$(cat algolia.json | jq -r tostring)"

      - name: Push indices to Algolia
        uses: signcl/docsearch-scraper-action@504242b8a087c976da66eaad64a95d98ff90dab5
        env:
          APPLICATION_ID: ${{ env.ALGOLIA_APPLICATION_ID }}
          API_KEY: ${{ env.ALGOLIA_API_KEY }}
          CONFIG: ${{ steps.algolia_config.outputs.config }}
